<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$$$', '$$$']],
          displayMath: [['$$$$$$', '$$$$$$']]
        }
      };
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="problem_id_read" style="display: none;">{{ problem_id }}</div>
    <div id="user_id_read" style="display: none;">{{ user_id }}</div>

    <div id="app"></div>

    {{ bundle|safe }}
  </body>
</html>
